body {
    margin: 0;
    padding: 0;
    background: #4a5b9d; /* warna background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope-wrapper {
    position: relative;
    width: 350px;
    height: 260px;
}

/* Layer bawah amplop */
.envelope-bottom {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

/* Kertas */
.paper {
    position: absolute;
    width: 180px;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;

    transition: all 1s ease;
}

/* Saat naik */
.paper.show {
    top: -10px;
    opacity: 1;
}

/* Layer atas amplop */
.envelope-top {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

/* Popup transparan */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: rgba(255,255,255,0.85);
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    animation: fadePop 0.4s ease;
}

@keyframes fadePop {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close {
    float: right;
    font-size: 26px;
    cursor: pointer;
}
